/* about.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  max-width: 400px;

  width: 100%;
  padding: 20px;
  border: 10px solid #ccc;
  border-radius: 40px;
}

div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.btn1 {
  background-color: #007bff;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}
.btn2 {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  form {
    max-width: 100%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }
}
