
.footer {
  width: 100%;
  padding: 4rem 0;
  background-color: black;
  color: #fff;
 
}

.footer-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 2rem; 
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.email {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.email p {
  margin: 0;
  padding-left: 1rem; 
  line-height: 1.6;
}
.location {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.location p {
  margin: 0;
  padding-left: 1rem; 
  line-height: 1.6;
}
.phone {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.phone p {
  margin: 0;
  padding-left: 1rem; 
  line-height: 1.6;
}

.email h4 {
  margin: 0; 
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right p {
  margin: 0;
  line-height: 1.6;
}

.social {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}


@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr; 
    text-align: center; 
  }
  .location {
    justify-content: center;
  }
  .footer-container .right {
    margin-top: 2rem; 
  }
  .left {
    justify-content: center;
  }
  .social {
    justify-content: center;
  }
  .location {
    justify-content: center;
  }
  .phone h4,
  .email h4 {
    justify-content: center; 
  }
}
